* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  margin-top: 0;
  padding-top: 0;
  height: 100%;
  width: 100%;
  background-color: darkseagreen;
}

/* Default Design */
.app {
  /* To make all elements center */
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1% 5%;
  font-size: 30px;
  color: black;
}

/* Header Design */
.header {
  display: flex;
  flex-direction: column;
}

#header-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-top-row h1 {
  font-size: 45px;
  color: black;
  margin: 0 10px 0 0;
}

#header-top-row button {
  font-size: 20px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 0 10px;
  max-width: 50%;
}

.header p {
  font-size: 15px;
}

.show-header-desc {
  width: 100%;
  height: auto;
  opacity: 1;
  overflow-y: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.hide-header-desc {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
}

/* Slider Design */

#sliderWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sliderWrapper span {
  margin: 5px;
  font-size: 25px;
  color: black;
}

#sliderInnerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#slider {
  width: 50%;
}

#yearButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#yearButtons button {
  font-size: 20px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

/* InfoBox */

#info-box {
  background: tan;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 5px;
  margin: 5px 0;
  position: relative;
  opacity: 1;
  height: auto;
  max-height: 70%;
  transition: height 0.5s ease, opacity 0.5s ease;
  overflow-y: auto;
}

#info-box.hidden {
  height: 0;
  width: 0;
  opacity: 0;
  transition: none;
}

#info-box p {
  font-size: 20px;
  color: black;
}

#info-box h2 {
  font-size: 30px;
  color: black;
}

#info-box button {
  height: 30px;
  min-width: 40px;
  background: tomato;
  border: none;
  border-radius: 5px;
  margin: 10px 0 0 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* DebtChart */

#debtChart {
  min-height: 250px;
}

/*Map Component*/

#mapContainer {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  margin: 5px 0 0;
}

/*Map*/

#map {
  flex: 1;
  width: 100%;
  min-height: 30%;
  height: 100%;
  border: 3px solid black;
  position: relative;
}

/* Search */

.search {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.searchWrapper {
  position: relative;
}

.search input {
  background-color: white;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 8px;
  margin-left: 15px;
  width: auto;
}

input:focus {
  outline: none;
}

.search_suggestion_line {
  display: block; /* Tee elementistä samanlainen kuin linkki */
  background: none; /* Poistaa oletuspainikkeen taustavärin */
  border: none; /* Poistaa oletuspainikkeen reunukset */
  text-align: left; /* Varmistaa, että teksti on vasemmassa reunassa */
  width: 100%; /* Vie koko käytettävissä olevan tilan */
  padding: 10px; /* Lisää mukavasti tilaa ympärille */
  cursor: pointer; /* Lisää linkkimäinen kursori */
  text-decoration: none; /* Poistaa mahdollisen alleviivauksen */
  color: inherit; /* Käyttää perittyä tekstin väriä */
}

.search_suggestion_line:hover {
  background-color: #bec2c5;
}

.search_result {
  position: absolute; /* Näytä hakutulokset suhteessa .input-wrapper-komponenttiin */
  z-index: 1000; /* Hakutulokset näkyvät muiden elementtien päällä */
  background-color: #fff;
  max-height: 200px; /* Rajoittaa listan korkeutta */
  overflow-y: auto; /* Lisää pystysuuntainen vieritys */
  width: 90%;
  right: 0;
  border-radius: 10px;
}

#clear-icon {
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  top: 10px;
  right: 5px;
}

/* Footer Design */

.footer {
  display: flex;
  flex-direction: column;
}

.names_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}

.names_header p {
  font-size: 12px;
  color: black;
}

.license_tab {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.licenses {
  width: 20px;
  height: 20px;
}

.tooltip {
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  width: 200px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
}

.labelstyle {
  background-color: white;
  color: black;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}

/* For Desktop View */
@media screen and (min-width: 1024px) and (orientation: landscape) {
  #mapContainer {
    flex-direction: row-reverse;
  }

  #info-box {
    transition: width 0.2s ease, opacity 0.2s ease;
    max-height: 100%;
    height: 100%;
    width: 30%;
    max-width: 70%;
    margin: 0;
    padding: 10px;
  }


  #debtChart {
    flex: 1;
    width: 100%;
  }

  #sliderInnerWrapper {
    width: 100%;
    justify-content: center;
  }

  #slider {
    width: 50%;
  }

  #yearButtons {
    width: 50%;
  }

  #yearButtons button {
    width: 100px;
  }

  .show-header-desc {
    width: 100%;
    height: auto;
    opacity: 1;
    overflow-y: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
  }

  .hide-header-desc {
    width: 100%;
    height: auto;
    opacity: 1;
    overflow-y: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* For Mobile Portrait View min-width=320px */
@media screen and (max-device-width: 480px) and (orientation: portrait) {

}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {

}